#entryManager_table {
  display: flex;
  justify-content: center;

  .MuiTableHead-root {
    background-color: #282828;

    .MuiTableCell-root {
      color: red;
    }
  }
}

#addEntry_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  min-height: 350px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
  background-color: red;
  color: white;
  font-weight: 400;

  .editModal_input {
    display: flex;
    flex-direction: column;
  }

  .duo {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 4%;
  }

  .MuiButton-root {
    background-color: black;
  }
}

#class_dropdown {
  .MuiFormControl-root {
    min-width: 120px;
  }
}
