.entry-dashboard {

  background: url(../images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .form-control {
    background-color: white;
  }

  .MuiFormControl-root {
    width: 60%;
  }

  .MuiTableContainer-root {

    #entry-manager-head {

      background-color: #3e3d3d;

      th {
        color: red;
        font-weight: bold;
      }

    }
  }

  .Edit-Table {
    // color: white;
    .MuiDataGrid-root {
      color: white;
    }
  }
}