.nav-bar {
  img {
    height: 50px;
    width: 100px;
    object-fit: contain;
  }

  .navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    a {
      text-decoration: none;
      
    }
  }
}