.result-container {
  .result-history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#result-table-container {

  .result-table-head {
    background-color: #282828;
  }

  margin: 30px;
  
  .MuiTableHead-root {
    th {
      font-weight: bold;
      color: red;
    }

  }
}

.recent-podium-container {
  .MuiButton-root {
    margin-top: 30px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #result-table-container, #result-table-container * {
    visibility: visible;
  }
  #result-table-container {
    position: absolute;
    left: 0;
    top: 0;
  }
}